.home__product{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin-bottom: 2em;
}

.home__input{
    width: 300px;
    height: 30px;
    justify-content: center;
    align-items: center;
}

.btn__search{
    display: flex;
    background-color: orangered;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: white;
    width: 50px;
    height: 30px;
    align-items: center;
    justify-content: center;
}