.home__product{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
margin: 3em 0 4em 0;

}

.home__input{
    width: 330px;
    height: 30px;
    justify-content: center;
    align-items: center;

}

.btn__filter{
    border: none;
    cursor: pointer;
    color: var(--titlecolor);
    font-size: 22px;
    background-color: var(--color2);

}

.menu {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color:var(--background1);
    box-shadow: var(--box-shadow);
    z-index: 1;
    opacity: 0;
    transform: translateX(400px);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  }

.menu.open {
    right: 0;
    opacity: 1;
    transform: translateX(0);
}

.menu__close{
    color: var(--titlecolor);
    font-size: 23px;
    font-weight: bold;
    background-color: var(--color2);
}

.title1{
    margin-top: 1.5em;
    color: var(--titlecolor);
    font-size: 23px;
    letter-spacing: 2px;
}
.filter__bar{
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    margin-left: 1em;
}

.filter__list{
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    margin-bottom: 2em;
    
}

.filter__opt{
    cursor: pointer;
}

.filter__opt:hover{
    color: var(--color2);
    background-color: var(--titlecolor);
    max-width:fit-content;
}
.filter__item{
    cursor: pointer;
}

.filter__item:hover{
    color: var(--color2);
    background-color: var(--titlecolor);
    max-width:fit-content;
}

.price__box{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    
}

.price__title{
margin-top: 1em;
color: var(--titlecolor);
font-size: 23px;
letter-spacing: 2px;
}

.input__price{
    width:min-content;
    height: 25px;
    border-radius: 0.5em;
    border: 2px solid var(--titlecolor);
    margin-top: 1em;
    margin-left: 1em;
}

.filter__btn{
    margin-top: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-cart);
    color: var(--color2);
    height: 28px;
    width: 120px;
    border-radius: 1em;
    letter-spacing: 2px;
}
.filter__btn:hover{
    background-color: var(--color1);
    color: var(--color-cart);
    font-weight: bold;

}

@media (min-width: 768px){
    .info__px {
        display: grid;
        grid-template-columns: repeat(4, 3fr); 
    }

    .product__box {
        width: 90%;
        min-height: 100%;
        position: relative;
    }

    .product__btn{
        bottom: 2em;
        right: 2em;
        position: absolute;
    }
}
