.home__product{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;
margin-bottom: 0.4em;
}

.home__input{
    width: 300px;
    height: 30px;
    justify-content: center;
    align-items: center;
}

.btn__filter{
    border: none;
    cursor: pointer;
    color: orangered;
    height: 30px;
    width: 40px;
    margin-bottom: 2em;
    margin-left: 2em;
    font-size: 20px;
    background-color: white;

}
.menu {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color:#ffffffda;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.26);
    z-index: 1;
    opacity: 0;
    transform: translateX(400px);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  }

.menu.open {
    right: 0;
    opacity: 1;
    transform: translateX(0);
}

.title1{
    margin-top: 1em;
    color: orangered;
    font-size: 23px;
    letter-spacing: 2px;
}
.filter__bar{
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    margin-left: 1em;
}

.filter__list{
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    margin-bottom: 2em;
    
}

.filter__opt{
    cursor: pointer;
}

.filter__opt:hover{
    color: white;
    background-color: orangered;
    max-width:fit-content;
}
.filter__item{
    cursor: pointer;
}

.filter__item:hover{
    color: white;
    background-color: orangered;
    max-width:fit-content;
}

.price__box{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    
}

.price__title{
margin-top: 1em;
color: orangered;
font-size: 23px;
letter-spacing: 2px;
}

.input__price{
    width:min-content;
    height: 25px;
    border-radius: 0.5em;
    border: 2px solid orangered;
    margin-top: 1em;
    margin-left: 1em;
}

.filter__btn{
    margin-top: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orangered;
    color: white;
    height: 28px;
    width: 120px;
    border-radius: 1em;
    letter-spacing: 2px;
}

@media (min-width: 767px){
    .btn__filter{
        margin-left: 39.5em;
    }
    .info__px{
        display: grid;
        grid-template-columns: repeat(4, 3fr); 
    }

    .product__box {
        width: 90%;
        min-height: 100%;
        position: relative;
      }
    .product__btn{
        bottom: 2em;
        right: 2em;
        position: absolute;
    }
    }
