.header__box{
    display: flex;
    flex-direction: row;
    justify-content: space-around
    
}

.header__logo{
    display: flex;
    gap: 1em;
    width: 200px;
}

.navbar__ul{
    display: flex;
    gap:1em
}



