.header__box{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.header__logo{
    display: flex;
    width: 250px;
}

/*NavBar*/

.navbar{
    display: flex;
    gap: 1em;
}

.navbar__ul{
    flex-direction: column;
    text-align: center;
    justify-content: center;
    right: 0;
    width: 50px;
    z-index: 1;
    position: absolute;
    border-radius: 10px;
    background-color:var(--color2);

    animation-name: slide-in;
    animation-duration: 0.3s;
    animation-fill-mode:forwards;
}

@keyframes slide-in {
    from {
        transform: translateY(50%);
    }
    to {
        transform: translateY(10%);
    }
}

.navbar__ul.open {
    display: none;
}

.navbar__ul li {
    cursor: pointer;
    font-size: 32px;
    color: var( --titlecolor);
    margin: 25px 0;
    position: relative;
}

/* Estilo del tooltip */
.navbar__ul li:hover::before {
    text-align: center;
    content: attr(title);
    position: absolute;
    right: 0;
    top: 30px;
    width: 65px;
    height: auto;
    padding: 5px;
    background-color: var(--titlecolor);
    color: var(--color2);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 10px;
    pointer-events: auto;
}

.bx-menu {
    font-size: 35px;
    cursor: pointer;
    color:var(--titlecolor);
}

@media screen and (min-width: 768px){

    .header__box {
        flex-direction: row;
        justify-content:space-between;
        background-color: var(--header);
        height: 3.2em;
      }
    
      .header__logo {
        width: 320px;
        margin: 0 6em
      }
    
      .navbar {
        display: flex;
        flex-direction: row;
      }
      .hamburguer{
        display: none;
      }
      .bxs-cart {
        margin: 1px 0;
        right: 9.4em;
        position: absolute;
        color: var(--color1);
      }
      .navbar__ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 1em;
        width: auto;
        text-align: left;
        position: static;
        animation: none;
        height: 3em;
        background-color: transparent;
    }
      .navbar__ul li {
        margin: 4px 0.5em;
        color: var(--color1);
    }
    
    }