.product__general-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

.product__box {
  width: 100%;
  max-width: 370px;
  border: 1px solid grey;
  background-color: white;


}

.product__header {
  border-bottom: 1px solid grey;
  padding: 1em;
  width: 100%;
  aspect-ratio: 1.5;
  position: relative;
}

.product__img {
  width: 80%;
  height: 80%;
  object-fit: contain;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 900ms ease;
}

.product__img1{
  opacity: 1;
}

.product__img2{
  opacity: 0;
}

.product__header:hover .product__img1{
  opacity: 0;
}

.product__header:hover .product__img2{
  opacity: 1;
}

.product__setion {
    padding: 0.7em;
}

.product__subtitle {
  padding-top: 1em;
  color: grey;
}

.product__title {
  padding-top: 0.5em;
}

.product__footer {
  padding-top: 1.3em;
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  margin-bottom: 1.5em;
  position: relative;
}

.product__price {
  color: grey;
}

.product__price2 {
  color: black;
}

.product__btn {
  
  margin-top: -5em;
  right: 8em;
  border: none;
  cursor: pointer;
  height: 3em;
  width: 3.2em;
  border-radius: 100%;
  position: absolute;
  background-color: orangered;
  transition: background-color 0.4s ease;
}

.product__btn:hover{
    background-color: rgb(255, 160, 126);
}

.bx-cart-alt {
  font-size: 23px;
  color: white;
}



